header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    nav{
       display: flex;
       width: 15%;
       justify-content: space-around;
       align-items: center;
    }
}