.Lodging--Details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;

    padding: 0 5%;
    width: 90vw;

    color: $colour-secondary;
}
.Lodging--Title{
    grid-column: 1;
    font-size: 1.5rem;
    margin: 0;
}
.Lodging--Location{
    grid-column-start: 1 /span 2;
    grid-row-start: 2;
    margin:0;
}
.Lodging--Collapse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0% 5%;
    color: white;
    justify-content: space-between;
    column-gap: 5rem;
}

//MOBILE
@media screen and (max-width: 425px) {
    .Lodging--Details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        padding: 0 5%;
        width: 90vw;
        color: $colour-secondary;
    }
    .Lodging--Title{
        grid-column: 1 /span 2;
        font-size: 1.3rem;
    }
    .Lodging--Collapse{
        grid-template-columns: 1fr;
        .collapse{
            border-radius: 0.5rem;
            margin: 3% 0;
            &--Label{
                border-radius: 0.5rem;
                height: 2rem;
            }
        }
    }
}
