.collapse{
    background: transparent;
    border-radius: 1rem;
    &--checkbox{
        display: none;
    }
    &--Detail{
        display: none;
        color:$colour-secondary;
        line-height: 25px;
        padding: 3%;
    }
    &--Label{
        display: flex;
        color: white;
        background-color: $colour-secondary;
        border-radius: 1rem;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        padding: 0 4%;
        font-weight: bold;
        font-weight: 500;
    }
    &--arrow{
        rotate: -90deg;
        font-weight: 500;
        font-size: 2rem;
    }
    &--List--Container{
        color: $colour-secondary;
    }
}
.about--Collapse{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10%;
    & > * {
        margin: 1% 0;
    }
}

//MOBILE
@media screen and (max-width: 425px) {
    .about--Collapse{
        padding: 0 5%;
    }
    .collapse{
        border-radius: 0.5rem;
        margin: 3% 0;
        &--Label{
            border-radius: 0.3rem;
            height: 2rem;
        }
    }
}