.HomepageBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 0 5%;
    color: white;
    background: no-repeat center linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url(../../../assets/HOMEPAGE-BANNER.png);
    background-size: cover;
    height: 13rem;
    border-radius: 2rem;
    font-size: 2rem;
}