.Lodging--Host{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    grid-row: 1 /span 2;
    &--Description{
        padding-right: 5%;
    }
    &--Image{
        border-radius: 50rem;
        max-height: 4rem;
    }
}

//MOBILE
@media screen and (max-width: 425px) {
    .Lodging--Host{
        grid-row: 4;
        grid-column: 2;
    }
}
