.LodgingItems--Container{
    display: grid;
    justify-items: center; 
    grid-template-columns: 1fr 1fr 1fr; 
    margin: 3% 5%;
    border-radius: 2rem;
    background-color: $colour-lightGrey;
    row-gap: 2rem;
    padding: 3rem 0;
}

article{
    width: 20vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #FF6060;
    .LodgingItems--articles{
        width: 20vw;
        height: 30vh;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);       
        .articles--img{
            object-fit: cover;
            width: 30vw;
            height: 22vh;
        }
        .articles--title{
            color: white;
            font-size: 18px;
            padding-left: 4%;
            font-weight: 500;
        }
    }
}